@import 'variables.scss';
* {
  box-sizing: border-box;
}
html {
  font-family: $page-family, Arial, Helvetica, sans-serif;
  font-weight: 300;
}
body {
  padding: 0;
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
  border: none;
}
h1 {
  margin: 0;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.price-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $page-bc;
  color: $text-color;

  & .price-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    min-width: 380px;
    height: 770px;
    background-color: $price-card-bc;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    font-size: 15px;
    &:nth-child(2) {
      margin: 0 18px;
    }
    & .price-card__title {
      margin-top: 36px;
      height: 64px;
      text-align: center;
      & .price-card__title-name {
        font-size: 35px;
        line-height: 43px;
      }
      & .price-card__title-text {
        font-size: 20px;
        line-height: 24px;
      }
    }
    & .price-card__price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 33px;
      width: 100%;
      height: 105px;
      font-size: 55px;
      font-weight: 700;
    }
    & .price-card__price_green {
      background-color: $bc-green;
    }
    & .price-card__price_blue {
      background-color: $bc-blue;
    }
    & .price-card__price_orange {
      background-color: $bc-orange;
    }
    & .price-card__description {
      margin-top: 40px;
      height: 36px;
      width: 327px;
      text-align: center;
      line-height: 18px;
      font-weight: 400;
    }
    & .price-card__options-list {
      margin-top: 40px;
      height: 300px;
      width: 100%;

      & .price-card__options-list__item {
        display: flex;
        align-items: center;
        height: 50px;

        &:nth-of-type(even) {
          background-color: $price-card-item-bc-light;
        }
        &:nth-of-type(odd) {
          background-color: $price-card-item-bc-dark;
        }
        & .list-item__icon {
          display: inline-block;
          margin-left: 22px;
          margin-right: 22px;
          height: 13px;
          width: 15px;
        }
        & .list-item__icon_green {
          background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
        }
        & .list-item__icon_blue {
          background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
        }
      }

      & .list-item__icon_orange {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
      }
    }
    & .price-card__order-btn {
      margin-top: 39px;
      width: 154px;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 20px;
      color: white;
    }
    & .price-card__order-btn_green {
      background-color: $bc-green;
    }
    & .price-card__order-btn_blue {
      background-color: $bc-blue;
    }
    & .price-card__order-btn_orange {
      background-color: $bc-orange;
    }
    & .price-card_popular-inscription {
      position: absolute;
      transform: rotate(45deg);
      right: -31px;
      top: 30px;
      background-color: #dc3f45;
      height: 25px;
      width: 147px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
    }
  }
}
