$page-bc: #141b1c;
$page-family: Montserrat;
$price-card-bc: #334247;
$price-card-item-bc-light: #334247;
$price-card-item-bc-dark: #2a3438;
$text-color: #ffffff;
$bold-weight: 700;
$light-weight: 300;
$bc-green: #5bb189;
$bc-blue: #3a6ba5;
$bc-orange: #ec632a;
