$page-bc:#141b1c;
$page-family:Montserrat;
$price-card-bc:#334247;
$price-card-item-bc-light:#334247;
$price-card-item-bc-dark:#2A3438;
$text-color: #FFFFFF;
$bold-weight:700;
$light-weight:300;
$bc-green:#5BB189;
$bc-blue:#3A6BA5;
$bc-orange:#EC632A;